<!DOCTYPE HTML>

<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Arne Ottens" />
	{% if page.thumbnail %}<meta name="og:image" content="{{ page.thumbnail }}">{% endif %}
	<title>
		{% if page.title %}
			{{ page.title }}
		{% else %}
			{{ site.name }}
		{% endif %}
	</title>
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/img/favicon.ico" type="image/x-icon">
</head>
<body class="text-justify">
	<div class="container">
		<div class="row header">
			<div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 text-center">
				<h1 class="title">
					<a href="/">{{ site.name }}</a>
				</h1>
				<h3 class="sub-title">{{ site.description }}</h3>
			</div>
		</div>
		{{ content }}
	</div>
</body>
</html>